[Unit]
Description=PoolGPU Master Service
After=network.target

[Service]
Type=simple
User=albin
WorkingDirectory=/home/albin/PoolGPU
ExecStart=/home/albin/PoolGPU/.venv/bin/poolgpu-master
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
